<div class='signup-modal-container'>
  <div class="modal-bg"></div>
  <div class="signup-modal">
    <i class='fa fa-times'></i>
    <h1>SIGN UP</h1>
    <form>
      <div class="form-input-container form--username">
        <div><i class='fa fa-user fa-2x'></i></div>
        <input class='input-username' type="text" placeholder='Username' autoFocus/>
      </div>
      <div class="form-input-container form--password">
        <div><i class='fa fa-lock fa-2x'></i></div>
        <input class='input-password' type="password" placeholder='Password'/>
      </div>
      <div class="form-input-container form--confirmPassword">
        <div><i class='fa fa-lock fa-2x'></i></div>
        <input class='input-confirm-password' type="password" placeholder='Confirm Password'/>
      </div>
      <p class='signup-text'>Already have an account? Sign in here!</p>
      <button>CREATE ACCOUNT</button>
    </form>
  </div>
</div>