@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.landing-page, .search-page {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    /* background-color: #fafafa; */
    background: linear-gradient(#f4f4f4, #f8f8f8);
    overflow: hidden;
}

.books-img {
    position: absolute;
    bottom: -50%;
    min-width: 100%;
    opacity: 0.6;
    user-select: none;
    pointer-events: none;
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px 20px;
    font-family: "IBM Plex Serif";
    font-size: 25px;
    color: #C0B283;
    /* background-color: #DCD0C0; */
    background-color: #F4F4F4;
    box-shadow: 0 0 10px #DCD0C0;
}

header h1 {
    flex-grow: 1;
}

header i {
    cursor: pointer;
    transition: transform .2s;
    z-index: 2;
}

header i:hover {
    transform: scale(1.3)
}

header i:active {
    animation: spin .2s;
    /* color: red; */
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(180deg); }
}


.text-color {
    color: #C0B283;
}

.input-container {
    top: 30%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Playfair Display';
    width: 100%;
    text-align: center;
}

.input-container p {
    font-size: 50px;
    color: #545454;
    padding-bottom: 5px;
}

.input-container form {
    position: relative;
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: 2px solid #DCD0C0;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    box-shadow: 0 4px #DCD0C0;
}

.input-container form input {
    width: 100%;
    font-size: 30px;
    outline: none;
    border: none;
    background: none;
    color: #C0B283;
}

.input-container form i {
    color: #C0B283;
    cursor: pointer;
    transition: all .2s;
}

.input-container form i:hover {
    transform: scaleX(-1);
    filter: FlipH;
}

::placeholder {
    color: #545454;
    font-family: 'Playfair Display';
    opacity: 0.5;
}

.input-container .definition {
    padding-top: 10px;
    font-size: 10px;
    color: #545454;
    opacity: .5;
    transition: font-size .3s, opacity .3s;
    cursor: default;
}

.input-container .definition:hover {
    font-size: 15px;
    opacity: 1;
}

.search-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* padding: 20px 0; */
    width: 816px;
}

.search-container form {
    margin: 20px 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: 2px solid #DCD0C0;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    /* box-shadow: 0 4px #DCD0C0; */
}

.search-container form input {
    width: 100%;
    font-size: 30px;
    outline: none;
    border: none;
    background: none;
    color: #C0B283;
}

.search-container form i {
    color: #C0B283;
    cursor: pointer;
}

.books-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 600px;
    overflow: auto;
    padding: 0 5px 5px 5px;
}

.book {
    background-size: 100% 100%;
    height: 210px;
    width: 150px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 0 3px #222;
    transition: all .3s;
}

.book:hover {
    transform: scale(1.03);
    box-shadow: 0 0 6px #222;
}

.hamburger-menu {
    position: absolute;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    right: -300px;
    width: 300px;
    z-index: 1;
    animation: slideIn .3s forwards;
    color: white;
    /* text-align: center; */
    font-family: 'IBM Plex Serif';
    box-shadow: 0 0 10px black;
}

.hamburger-menu h1 {
    padding: 15px 10px;
    font-size: 40px;
}

.hamburger-menu h2 {
    padding: 15px 10px;
    font-size: 30px;
    transition: all .3s;
    cursor: pointer;
}

.hamburger-menu h2:hover {
    color: black;
    background: white;
}

@keyframes slideIn {
    from {
        right: -300px;
    }
    to {
        right: 0px;
    }
}

.signup-modal-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    /* background: rgba(0, 0, 0, 0.7); */
    background: rgba(255, 255, 255, 0.7);
    z-index: 3;
}

.signup-modal {
    position: relative;
    width: 400px;
    /* height: 500px; */
    background: #F4F4F4;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: fallin .3s forwards;
    box-shadow: 0 0 60px #C0B283;
    font-family: 'IBM Plex Serif';
    color: #C0B283;
}

@keyframes fallin {
    from { top: 0%; }
    to { top: 50%; }
}

.signup-modal h1 {
    text-align: center;
    padding: 10px 0;
    font-size: 50px;
    color: white;
    background: #C0B283;
}

.signup-modal .fa-times {
    position: absolute;
    right: -10px;
    top: -10px;
    padding: 5px;
    background: #F4F4F4;
    border: 2px solid #C0B283;
    box-shadow: 0 1px 5px #C0B283;
    cursor: pointer;
    transition: color .5s;
    font-size: 25px;
}

.signup-modal .fa-times:hover {
    color: red;
}

.signup-modal form {
    display: flex;
    flex-flow: column nowrap;
    /* justify-content: center; */
    align-items: center;
    padding: 10px 0px 0px 0px;
}

.signup-modal form button {
    width: 100%;
    height: 80px;
    background: #82a8c0;
    border-bottom: 3px solid #2f536a;
    font-family: 'IBM Plex Serif';
    color: white;
    outline: none;
    font-size: 30px;
    cursor: pointer;
}

.signup-modal form button:hover {
   filter: contrast(120%);
}

.signup-modal form button:active {
    filter: brightness(.9);
}

.form-input-container {
    /* width: 100%; */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: 2px solid #C0B283;
    margin-bottom: 5px;
}

.form-input-container input {
    /* width: 98%; */
    font-size: 30px;
    padding: 5px 10px;
    outline: none;
    border: none;
    background: none;
}

.form-input-container div {
    border-right: 2px solid #C0B283;
    height: 100%;
    width: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.notification {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px 20px;
    color: #F4f4f4;
    top: -100%;
    width: 100%;
    z-index: 4;
    background: #d93636;
    font-family: 'IBM Plex Serif';
    /* box-shadow: 0 0 10px #545454; */
    font-size: 20px;
    animation: notif-drop .5s forwards;
}

.notification p { flex-grow: 1;}

@keyframes notif-drop {
    from {
        top: -100%;
    }
    to {
        top: 0px;
    }
}

@keyframes notif-up {
    from {
        top: 0px;
    }
    to {
        top: -100%;
    }
}