<div class="search-page">
  <app-header></app-header>
  <app-book-modal *ngIf='selected'></app-book-modal>
  <div class="search-container">
    <form
      (submit)="handleSubmit($event)"
    >
      <input 
        [(ngModel)]='searchingFor'
        type="text" 
        name='search'
        placeholder="Search for something new..."
      >
      <i class="fa fa-search fa-2x"></i>
    </form>
    <div class="books-container">
      <app-search-book *ngFor='let book of books' [bookInfo]='book' (bookEmit)='setSelected($event)'></app-search-book>
    <!-- </div> -->
  </div>
</div>